Repository fga-eps-mds/2023-1-PUMA-Doc, pull requests merged in 2023-06, with the labels that each got.

#88 DOC: Backlog inicial
  docs/produto/backlog_inicial_produto.md
Labels: DOCS

#87 Documentation/product vision
  docs/assets/brainstorming_funcionalidades.png
  docs/assets/canva_mvp.png
  docs/assets/e_faz.png
  docs/assets/esclarecimento_objetivo.png
  docs/assets/naoe_naofaz.png
  docs/assets/persona_1.png
  docs/assets/persona_2.png
  docs/assets/persona_3.png
  docs/assets/revisao.png
  docs/assets/sequenciador.png
  docs/assets/visao_produto.png
  docs/produto/doc-visao.md
Labels: DOCS

#90 Documentation/add quality plan
  docs/projeto/gerenciamento_qualidade.md
Labels: documentation, DOCS

#105 Configuração do Analytics
  analytics.ipynb
  data/fga-eps-mds-2023-1-PUMA--06-28-2023--19-10-48.csv
  data/fga-eps-mds-2023-1-PUMA--06-28-2023--19-10-48.xlsx
Labels: ANALYTICS, EPS
